*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.SAPPHIRE{
    font-size: 120%;
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    letter-spacing: 5px;
    text-shadow: 1px px black;
    display: inline-block;
}

.search-container{
    display: inline;
    position: relative;
    width: 100%;
    margin-left: 20px;
    margin-top: 0;
    border: 1px solid black;
    border-radius: 30px;
    transition: 1s ease;
    background-color: papayawhip;
    transition: 1s ease;
    padding: 5px;
}

.search{
    width: 1.2%;
    margin: 10px 10px;
    border: none;
    position: relative;
    font-size: 16px;
    font-family: sans-serif;
    transition: 1s ease;
    background-color: papayawhip;
    outline: none;
}
.search:hover{
    transition: 1s ease;
    width: 40%;
}

    
.dropdown{
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.dropdown .dropdown-text{
    font-size: medium;
    margin: 10px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 5px;
    padding: 2px;
    cursor: default;
}

.dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    margin-left: 15px;
    border: 1px solid black;
    
}

.dropdown-content a{
    color: #140303;
    margin: 12px 16px;
    padding: 2px;
    display: block;
    text-decoration: none;
    

}

.dropdown-content a:hover{
    background-color: rgba(100, 166, 188, 0.507);

}

.dropdown:hover .dropdown-content{
    display: block;
}

.user-icon{
    display: inline;
    margin: 2%;
    position: relative;
}

.cart-icon{
    display: inline;
    margin: 2%;
    position: relative;
}

.nav1 .ul1{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    margin: 10px 10px;
    padding: 2px 2px;
    justify-content: center;
}

.ul1 li a{
    text-decoration: none;
    margin: 0 15px 0 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.ul1 li a:hover{
    transition: 0.3s;
    border: 1px solid red;
    border-radius: 10px;
    background: linear-gradient(45deg, #4f1919,#ff3333);
    color: white;
    
}

